<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <header>
        <h2>
            <img src="logo.png" alt="Logo">
            About Us
        </h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed semper, massa id condimentum ultricies, mauris ex pellentesque neque, in auctor massa massa at tortor. Sed euismod, quam ut vulputate consectetur, velit lectus semper nisi, non ultricies nisi ipsum at nunc. Aliquam erat volutpat. Nulla facilisi. Donec at orci ac ligula fringilla consectetur. Nulla facilisi. Donec at orci ac ligula fringilla consectetur. Nulla facilisi. Donec at orci ac ligula fringilla consectetur. Nulla facilisi. Donec at orci ac ligula fringilla consectetur. Nulla facilisi. Donec at orci ac ligula fringilla consectetur. Nulla facilisi. Donec at orci ac ligula fringilla consectetur. Nulla facilisi. Donec at orci ac ligula fringilla consectetur. Nulla facilisi. Donec at or

        </p>

        <a href="">
            <button>Read More</button>
        </a>
    </header>
</body>
</html>